@keyframes example {
  from {background-color: #54eb7c;}
  to {background-color: yellow;}
}


body {
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #54eb7c;
    line-height: 2em;
    animation-name: example;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
